<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wild</title>
</head>
<body>

{% if messages %}
  <ul class="messages">
  </ul>

  {% for message in messages %}
    <script>
        setTimeout(function () {
          var li = $('<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>')
          $('.messages').append(li)
        }, 1000 * {{ forloop.counter }})
    </script>
  {% endfor %}
{% endif %}

<h1>对战</h1>

<p>{{ match.step_display }}</p>


<div class="battles">
  {% for battle in match.battle_list %}
    <div class="battle"></div>
  {% endfor %}
</div>


<p>{{ match.player1 }}</p>

<div style="margin: 10px; padding: 5px; border: 1px gray solid">
  <div>{{ wild.card.pokemon }}</div>
  <div>系: {{ wild.card.pokemon.system }}</div>
  <div>等级: {{ wild.card.level }} [{{ wild.card.exp }}/{{ wild.card.level_up_exp }}]</div>
  <div>加点: {{ wild.card.available_points }}</div>
  <div>攻击: {{ wild.card.attack }}</div>
  <div>防御: {{ wild.card.defense }}</div>
  <div>体力: {{ wild.card.hp }}</div>
  <div>技能: {{ wild.card.skill }}</div>
</div>


<p>{{ match.player2 }}</p>

{% if match.step_code == 3 %}
  {% for card in match.player2.cards1 %}
    <div style="float:left; margin: 10px; padding: 5px; border: 1px gray solid">

      <div>{{ card.pokemon }}</div>
      <div>系: {{ card.pokemon.system }}</div>
      <div>等级: {{ card.level }} [{{ card.exp }}/{{ card.level_up_exp }}]</div>
      <div>加点: {{ card.available_points }}</div>
      <div>攻击: {{ card.attack }}</div>
      <div>防御: {{ card.defense }}</div>
      <div>体力: {{ card.hp }}</div>
      <div>技能: {{ card.skill }}</div>
      <form action="/game/match/{{ match.id }}/fight/" method="post">
        <input type="hidden" name="card_id" value="{{ card.id }}">
        <input type="submit" value="出战">
      </form>
    </div>
  {% endfor %}

{% endif %}

{% if match.winner > 0 %}
  <a href="/game/game/{{ game.id }}/">回到游戏</a>
{% endif %}


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(function () {
  })
</script>
</body>
</html>